.fallout {
  position: relative;

  .button {
    border: 1px solid #eef1f7;
    cursor: pointer;
    margin: 8px;
    padding: 10px 16px;

    &:hover {
      background-color: #eef1f7;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
  }
}
